# Server Configuration
SERVER_PORT=6001

# Database Configuration
DB_HOST=localhost
DB_PORT=6433
DB_NAME=driver_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Keycloak / OIDC Configuration
OIDC_ISSUER_URI=http://localhost:8080/realms/fleet-management-frontend

# JPA Configuration
JPA_SHOW_SQL=false

